# Pushing container to the Github Container Registry
name: Publish Docker Image

on: [push]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }} # or use GITHUB_TOKEN
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-actions@v1

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/my-image latest
      
      - name: Verify the image was pushed
        run: docker pull ghcr.io/${{ github.repository_owner }}/my-image latest